<div class="login-container">
    <form class="login-form" method="post" action="https://path-to-server">
        <h1 class="login-form__title">С возвращением!</h1>
        <div class="login-form__err login-form__err_hidden" id="authErrBanner">
            <span>Неверный логин или пароль</span>
        </div>
        <input class="login-form__input" id="loginInput" type="text"
               placeholder="Логин"/>
        <input class="login-form__input" id="passwordInput" type="password"
               placeholder="Пароль"/>
        <button class="login-form__btn" id="submitButton" type="button">Войти</button>
    </form>
</div>