<div class="login-container">
    <form class="login-form" method="post" action="https://path-to-server">
        <h1 class="login-form__title">Welcome again!</h1>
        <div class="login-form__err login-form__err_hidden" id="authErrBanner">
            <span>Wrong username or password</span>
        </div>
        <input class="login-form__input" id="loginInput" type="text"
               placeholder="Username"/>
        <input class="login-form__input" id="passwordInput" type="password"
               placeholder="Password"/>
        <button class="login-form__btn" id="submitButton" type="button">Submit</button>
    </form>
</div>
