<table class="table">
    <thead class="table-head">
    <tr class="table-head__row">
        <th class="table-head__cell_empty"></th>
        <th class="table-head__cell table-head__cell_border-left_none"
            id="nameColumn">
            <div class="table-head__container">
                <span class="table-head__text">Name</span>
                <img class="table-head__img table-head__img_visible" src="images/triangle.svg"
                     alt="">
            </div>
        </th>
        <th class="table-head__indent" id="nameIndent"></th>
        <th class="table-head__cell" id="dateColumn">
            <div class="table-head__container">
                <span class="table-head__text">Last Changed</span>
                <img class="table-head__img table-element__image_visible" src="images/triangle.svg"
                     alt="">
            </div>
        </th>
        <th class="table-head__indent" id="dateIndent"></th>
        <th class="table-head__cell" id="typeColumn">
            <div class="table-head__container">
                <span class="table-head__text">Type</span>
                <img class="table-head__img table-element__image_visible" src="images/triangle.svg"
                     alt="">
            </div>
        </th>
        <th class="table-head__indent" id="typeIndent"></th>
        <th class="table-head__cell table-head__cell_border-right_none"
            id="weightColumn">
            <div class="table-head__container">
                <span class="table-head__text">Size</span>
                <img class="table-head__img table-element__image_visible" src="images/triangle.svg"
                     alt="">
            </div>
        </th>
        <th class="table-head__indent" id="weightIndent"></th>
    </tr>
    </thead>
    <tbody class="table-body" id="tableBody">
    </tbody>
</table>
