:root {
    /* General */
    --font-main: 'Ubuntu';
    --color: #fff;
    /* Wallpaper settings */
    --wallpaper-image: url("../images/wallpaper.png");
    --wallpaper-shading: rgba(0, 0, 0, 0.3);
    /* Window settings */
    --window-margin: 50px; /* offsets from the viewport */
    --window-radius: 20px; /* window's border radius */
    --window-blur: 7px; /* intensity of wallpaper blur */
    --window-background: rgba(1, 6, 23, 0.6);
}